.header{
    width: 100%;
    font-family: "Times New Roman";
    background-color: cornflowerblue;
}
body {
    background-color: aqua;
}
.contenido{
    font-family: "Comic Sans MS";
    
}
.contenido2{
    font-family: "Comic Sans MS";
    margin-left: 25%;
    
}
.contenedor{
    display: flex;
    
}
.lista{
    font-size:x-large;
    font-family: "Comic Sans MS";
    
    
}
